<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.css"/>
    <link rel="stylesheet" href="/style/menu.css" defer >
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/material-design-iconic-font/2.2.0/css/material-design-iconic-font.min.css">
    <title>Menu</title>

</head>
<body>
    <!-- Loading Screen -->
    <div id="loading-screen" >
        <div class="spinner"></div>
    </div>
    <nav id="nav" class="myNav" >
        <div class="container">
            <img src="/assets/LogoV2.svg" class="logo" alt="logo">
            <ul class="nav-links">
                <li><a href="./calendar">Calendar</a></li>
                <li><a href="#experience">Dashboard</a></li>
                <li><a href="#projects">Profile</a></li>
                <li><a href="/auth/logout">Log Out</a></li>
            </ul>
        </div>
    </nav>
    <!-- Main Content -->


        <div class="day-container">
            <h1>Hello {{user.username}}!! Choose your food for the </h1> 
            <h1 class="date">{{days.orderWeek}}</h1>
            <h1 >{{days.orderDay}} of {{days.orderMonth}}</h1>
        </div>

        <div id="sbmt-orderDate" style="display: none;">
            {{days.orderDate}}
        </div>

        <div class="first-dish">
            <div class="header-top header-top1"><h4>Breakfast</h4></div>
            <div class="swiper mySwiper">

                <div class="swiper-wrapper">

                    {{#each products}}
                        {{#if (eq this.CategoryID 1)}}
                            <div class="swiper-slide">
                                <img src={{this.ProductImage}} alt="Tranding">
                                <span class="caption"><p>{{this.ProductName}}</p></span>
                                <form id="addCart" action="/auth/addCart" method="post">
                                        <input class="orderDate" type="hidden" id="orderDate" name="orderDate">
                                        {{!-- <div class="orderDate">a</div> --}}
                                        <input type="hidden" name="ProductID" value={{this.ProductID}}> 
                                        <input type="hidden" name="ProductName" value={{this.ProductName}}> 
                                        <input type="hidden" name="UnitPrice" value={{this.UnitPrice}}>
                                        <input type="hidden" name="CategoryID" value={{this.CategoryID}}>
                                        <input type="hidden" name="ProductImage" value={{this.ProductImage}}>
                                        <a href="/browse">Details</a>
                                        <button type="submit" class="button" >Add</button> 
                                    </form>

                            </div>
                        {{/if}}
                    {{/each}}
                
                    <div class="swiper-slide">
                    <img src={{products.[1].ProductImage}} alt="Tranding">
                        <span class="caption"><p>{{products.[1].ProductName}}</p></span>
                    </div>
                    <div class="swiper-slide">
                    <img src={{products.[2].ProductImage}} alt="Tranding">
                        <span class="caption"><p>{{products.[2].ProductName}}</p></span>
                    </div>
                </div>

                <div class="swiper-button-next"></div>
                <div class="swiper-button-prev"></div>
                <div class="swiper-pagination"></div>
            </div>
        </div>

        <section class="first-dish">
            <div class="header-top"><h4>Lunch</h4></div>
            <div class="swiper mySwiper">
                <div class="swiper-wrapper">
                    {{#each products}}
                        {{#if (eq this.CategoryID 2)}}
                            <div class="swiper-slide">
                                <img src={{this.ProductImage}} alt="Tranding">
                                <span class="caption"><p>{{this.ProductName}}</p></span>
                                <form id="addCart" action="/auth/addCart" method="post">
                                    <input class="orderDate" type="hidden" id="orderDate" name="orderDate">
                                    <input type="hidden" name="ProductID" value={{this.ProductID}}> 
                                    <input type="hidden" name="ProductName" value={{this.ProductName}}> 
                                    <input type="hidden" name="UnitPrice" value={{this.UnitPrice}}>
                                    <input type="hidden" name="CategoryID" value={{this.CategoryID}}>
                                    <input type="hidden" name="ProductImage" value={{this.ProductImage}}> 
                                    <button type="submit" class="button" >Add</button> 
                                </form>
                            </div>
                        {{/if}}
                    {{/each}}
                
                    <div class="swiper-slide">
                    <img src={{products.[1].ProductImage}} alt="Tranding">
                        <span class="caption"><p>{{products.[1].ProductName}}</p></span>
                    </div>
                    <div class="swiper-slide">
                    <img src={{products.[2].ProductImage}} alt="Tranding">
                        <span class="caption"><p>{{products.[2].ProductName}}</p></span>
                    </div>
                </div>

                <div class="swiper-button-next"></div>
                <div class="swiper-button-prev"></div>
                <div class="swiper-pagination"></div>
            </div>
        </section>

        <section class="first-dish">
            <div class="header-top"><h4>Dinner</h4></div>
            <div class="swiper mySwiper">
                <div class="swiper-wrapper">

                    <div class="swiper-slide">
                        <img src="./assets/Food-images/Dinner/d-1.jpg" alt="Tranding">
                    </div>

                    <div class="swiper-slide">
                    <img src="./assets/Food-images/Dinner/d-2.jpg" alt="Tranding">
                        <span class="caption"><p>Toast Eggs</p></span>      
                    </div>

                    <div class="swiper-slide">
                        <img src="./assets/Food-images/Dinner/d-3.jpg" alt="Tranding">
                        <span class="caption"><p>{{products.ProductID}}</p></span>
                    </div>

                    <div class="swiper-slide">
                        <img src="./assets/Food-images/Dinner/d-4.jpg" alt="Tranding">              
                    </div>

                    <div class="swiper-slide">
                        <img src="./assets/Food-images/Dinner/d-5.jpg" alt="Tranding">
                    </div>

                    <div class="swiper-slide">
                        <img src="./assets/Food-images/Dinner/d-6.jpg" alt="Tranding">
                    </div>

                    <div class="swiper-slide">
                        <img src="./assets/Food-images/Dinner/d-7.jpg" alt="Tranding">
                    </div>

                    <div class="swiper-slide">
                        <img src="./assets/Food-images/Dinner/d-1.jpg" alt="Tranding">
                    </div>

                    <div class="swiper-slide">
                    <img src="./assets/Food-images/Dinner/d-2.jpg" alt="Tranding">
                        <span class="caption"><p>{{products.ProductID}}</p></span>
                    </div>
                </div>
                <div class="swiper-button-next"></div>
                <div class="swiper-button-prev"></div>
                <div class="swiper-pagination"></div>
            </div>
        </section>

        <section class="first-dish">
            <div class="header-top"><h4>Snacks</h4></div>
            <div class="swiper mySwiper">
                <div class="swiper-wrapper">
                    <div class="swiper-slide">
                        <img src="/assets/Food-images/Snacks/s-1.jpg" alt="Tranding">
                    </div>

                    <div class="swiper-slide">
                    <img src="./assets/Food-images/Snacks/s-2.jpg" alt="Tranding">
                        <span class="caption"><p>Toast Eggs</p></span>      
                    </div>

                    <div class="swiper-slide">
                        <img src="./assets/Food-images/Snacks/s-3.jpg" alt="Tranding">
                        <span class="caption"><p>{{products.ProductID}}</p></span>
                    </div>

                    <div class="swiper-slide">
                        <img src="./assets/Food-images/Snacks/s-4.jpg" alt="Tranding">              
                    </div>

                    <div class="swiper-slide">
                        <img src="./assets/Food-images/Snacks/s-5.jpg" alt="Tranding">
                    </div>

                    <div class="swiper-slide">
                        <img src="./assets/Food-images/Snacks/s-6.jpg" alt="Tranding">
                    </div>

                    <div class="swiper-slide">
                        <img src="./assets/Food-images/Snacks/s-7.jpg" alt="Tranding">
                    </div>

                    <div class="swiper-slide">
                        <img src="./assets/Food-images/Snacks/s-1.jpg" alt="Tranding">
                    </div>

                    <div class="swiper-slide">
                    <img src="./assets/Food-images/Snacks/s-2.jpg" alt="Tranding">
                        <span class="caption"><p>{{products.ProductID}}</p></span>
                    </div>
                </div>
                <div class="swiper-button-next"></div>
                <div class="swiper-button-prev"></div>
                <div class="swiper-pagination"></div>
            </div>
        </section>

        <div  class="checkoutt">
            <div class="spacer">
                <div class="spacer-txt">
                    <h1>Checkout</h1>
                </div>
            </div>
            <div class="checkout-container">
                <div class="items-container">
                    <div class="bld-container">
                        <div class="bld-check">
                            <div class="text-container">
                                <h2>Breakfast</h2>
                            </div>
                            <div class="images-container">
                                {{#if days}}
                                    {{#if cart}}
                                        {{#getCartItemsByDate cart days.orderDate}}
                                            {{#each this}}
                                                {{#if (eq CategoryID 1)}}
                                                    <div class="img-container">
                                                        <img class="check-img" src={{ProductImage}} alt="" style="border: 4px solid crimson;">
                                                        <button type="button" class="remove-btn" onclick="remove_item({{ProductID}})">
                                                            <i class="zmdi zmdi-close"></i>
                                                        </button>
                                                    </div>
                                                {{/if}}
                                            {{/each}}
                                        {{else}}
                                        {{/getCartItemsByDate}}
                                    {{/if}}

                                    {{#getCartItemsByDate orders days.orderDate}}
                                        {{#each this}}
                                            {{#if (eq CategoryID 1)}}
                                            <img class="check-img" src={{ProductImage}} alt="" style="border: 4px solid green;">
                                            {{/if}}
                                        {{/each}}
                                    {{else}}
                                    {{/getCartItemsByDate}}
                                    
                                {{else}}
                                <p>Please select a date to view the cart items.</p>
                                {{/if}}

                            </div>
                        </div>
                        <div class="bld-check">
                            <div class="text-container">
                                <h2>Lunch</h2>
                            </div>
                            <div class="images-container">
                                {{#if days}}
                                    {{#if cart}}
                                        {{#getCartItemsByDate cart days.orderDate}}
                                            {{#each this}}
                                                {{#if (eq CategoryID 2)}}
                                                    <div class="img-container">
                                                        <img class="check-img" src={{ProductImage}} alt="" style="border: 4px solid crimson;">
                                                        <button type="button" class="remove-btn" onclick="remove_item({{ProductID}})">
                                                            <i class="zmdi zmdi-close"></i>
                                                        </button>
                                                    </div>
                                                {{/if}}
                                            {{/each}}
                                        {{else}}
                                        {{/getCartItemsByDate}}
                                    {{/if}}

                                    {{#getCartItemsByDate orders days.orderDate}}
                                        {{#each this}}
                                            {{#if (eq CategoryID 2)}}
                                            <img class="check-img" src={{ProductImage}} alt="" style="border: 4px solid green;">
                                            {{/if}}
                                        {{/each}}
                                    {{else}}
                                    {{/getCartItemsByDate}}
                                    
                                {{else}}
                                <p>Please select a date to view the cart items.</p>
                                {{/if}}
                            </div>
                        </div>
                        <div class="bld-check">
                            <div class="text-container">
                                <h2>Dinner</h2>
                            </div>
                            <div class="images-container">
                                {{#if days}}
                                    {{#if cart}}
                                        {{#getCartItemsByDate cart days.orderDate}}
                                            {{#each this}}
                                                {{#if (eq CategoryID 3)}}
                                                    <div class="img-container">
                                                        <img class="check-img" src={{ProductImage}} alt="" style="border: 4px solid crimson;">
                                                        <button type="button" class="remove-btn" onclick="remove_item({{ProductID}})">
                                                            <i class="zmdi zmdi-close"></i>
                                                        </button>
                                                    </div>
                                                {{/if}}
                                            {{/each}}
                                        {{else}}
                                        {{/getCartItemsByDate}}
                                    {{/if}}

                                    {{#getCartItemsByDate orders days.orderDate}}
                                        {{#each this}}
                                            {{#if (eq CategoryID 3)}}
                                            <img class="check-img" src={{ProductImage}} alt="" style="border: 4px solid green;">
                                            {{/if}}
                                        {{/each}}
                                    {{else}}
                                    {{/getCartItemsByDate}}
                                    
                                {{else}}
                                <p>Please select a date to view the cart items.</p>
                                {{/if}}
                            </div>
                        </div>
                    </div>
                    <div class="save-btn-container">

                    <form action="/auth/addOrder" method="POST">
                        <input type="hidden" name="userID" value={{user.id}}>
                        <input type="hidden" name="orderDate" value={{days.orderDate}}>
                        <button type="submit" class="save-btn">Save Order</button>
                    </form>
                    {{#if message}}
                        {{message}}
                    {{/if}}
                    </div>
                </div>
            </div>
        </div>



   



  


    <script src="https://cdn.jsdelivr.net/npm/handlebars@4.7.7/dist/handlebars.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.js"></script>


    <div id="sbmt-orderDate" style="display: none;">{{days.orderDate}}</div>
    <script>
            window.addEventListener('beforeunload', function() {
                localStorage.setItem('scrollPosition', window.scrollY);
            });
            
            window.addEventListener('load', function() {
            var scrollPosition = localStorage.getItem('scrollPosition');
            if (scrollPosition !== null) {
                window.scrollTo(0, parseInt(scrollPosition, 10));
                localStorage.removeItem('scrollPosition'); // Clear the stored position after it's been used
            }
            });

           document.addEventListener('DOMContentLoaded', function () {
            var orderDate = document.getElementById('sbmt-orderDate').textContent;
            var submitDate = document.getElementsByClassName('orderDate');
            
            // Loop through each target div and set its text content to the source text
            for (var i = 0; i < submitDate.length; i++) {
                submitDate[i].value = orderDate;
            }

            var loadingScreen = document.getElementById('loading-screen');
            var mainContent = document.getElementById('main-content');
            setTimeout(() => {
                loadingScreen.style.display ='none';
            }, 600);
            mainContent.style.display = 'block';
        });
    </script>

    <script>
        function remove_item(item_id){
            var orderDate = document.getElementById('sbmt-orderDate').textContent;
            window.location.href = '/remove_item?id=' + item_id + '&date=' + orderDate;
        }
    </script>
    
    <script>
        var swiper = new Swiper(".mySwiper", {
        slidesPerView: 6,
        spaceBetween: 0,
        slidesPerGroup: 3,
        loop: true,
        pagination: {
            el: ".swiper-pagination",
            type: "progressbar",
            clickable: true,
        },
        navigation: {
            nextEl: ".swiper-button-next",
            prevEl: ".swiper-button-prev",
        },
        });
        const navbar = document.querySelector('.myNav');
        window.onscroll = () => {
            if (window.scrollY > 50) {
                navbar.classList.add('nav-active');
            } else {
                navbar.classList.remove('nav-active');
            }
        };
    </script>
</body>
</html>